In [3]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [4]:
ser1 = Series([1,2,3,4], index=['A', 'B', 'C', 'D'])

In [5]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [8]:
ser2 = ser1.reindex(['A', 'B', 'C', 'D', 'E', 'F'])

In [9]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [10]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [11]:
ser2.reindex(['A', 'B', 'C', 'D', 'E', 'F', 'G'], fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [12]:
ser3 = Series(['USA', 'Mexico', 'Canada'], index=[0,5,10])

In [13]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [15]:
ser3.reindex(range(15), method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [18]:
dframe = DataFrame(randn(25).reshape((5,5)), index=['A','B','D','E','F'], columns=['col1', 'col2', 'col3', 'col4', 'col5'])

In [19]:
dframe

       col1      col2      col3      col4      col5
A  0.450939 -1.616189 -1.621253 -0.337183 -0.447480
B  0.329358 -0.647004 -0.574277  0.245284 -0.171457
D  1.247617 -0.488582  0.176493 -1.902593  0.073547
E -1.656372 -0.795315  0.370293 -1.356132 -0.367431
F -0.368325  0.739617 -0.024324  0.807595 -0.177948

In [20]:
new_index = ['A', 'B', 'C', 'D', 'E','F']

In [21]:
dframe2 = dframe.reindex(new_index)

In [22]:
dframe2

       col1      col2      col3      col4      col5
A  0.450939 -1.616189 -1.621253 -0.337183 -0.447480
B  0.329358 -0.647004 -0.574277  0.245284 -0.171457
C       NaN       NaN       NaN       NaN       NaN
D  1.247617 -0.488582  0.176493 -1.902593  0.073547
E -1.656372 -0.795315  0.370293 -1.356132 -0.367431
F -0.368325  0.739617 -0.024324  0.807595 -0.177948

In [23]:
new_columns = ['col1', 'col2', 'col3', 'col4', 'col5', 'col6']
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  0.450939 -1.616189 -1.621253 -0.337183 -0.447480   NaN
B  0.329358 -0.647004 -0.574277  0.245284 -0.171457   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  1.247617 -0.488582  0.176493 -1.902593  0.073547   NaN
E -1.656372 -0.795315  0.370293 -1.356132 -0.367431   NaN
F -0.368325  0.739617 -0.024324  0.807595 -0.177948   NaN

In [24]:
dframe.ix[new_index, new_columns]

       col1      col2      col3      col4      col5  col6
A  0.450939 -1.616189 -1.621253 -0.337183 -0.447480   NaN
B  0.329358 -0.647004 -0.574277  0.245284 -0.171457   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  1.247617 -0.488582  0.176493 -1.902593  0.073547   NaN
E -1.656372 -0.795315  0.370293 -1.356132 -0.367431   NaN
F -0.368325  0.739617 -0.024324  0.807595 -0.177948   NaN

In [25]:
dframe

       col1      col2      col3      col4      col5
A  0.450939 -1.616189 -1.621253 -0.337183 -0.447480
B  0.329358 -0.647004 -0.574277  0.245284 -0.171457
D  1.247617 -0.488582  0.176493 -1.902593  0.073547
E -1.656372 -0.795315  0.370293 -1.356132 -0.367431
F -0.368325  0.739617 -0.024324  0.807595 -0.177948