In [16]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
nfl_frame = pd.read_clipboard()

In [4]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Dallas,Cowboys,493,367,1,0.573,1960.000,860,NFC,East,NaN
1,1,Tampa,Bay,Buccaneers,250,393,1.000,0.514,1976,866,NFC,South
2,3,Green,Bay,Packers,730,553,37.000,0.567,1921,"1,320",NFC,North
3,4,Chicago,Bears,744,568,42,0.565,1920.000,"1,354",NFC,North,NaN
4,5,Miami,Dolphins,439,341,4,0.563,1966.000,784,AFC,East,NaN
5,6,New,England,Patriots[b],476,383,9.000,0.554,1960,868,AFC,East

In [5]:
nfl_frame = pd.read_clipboard()

In [8]:
nfl_frame = pd.read_clipboard()

In [9]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,1,0.573,1960,860,NFC East
1,1,Tampa Bay Buccaneers,250,393,1,0.514,1976,866,NFC South
2,3,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
3,4,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
4,5,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
5,6,New England Patriots[b],476,383,9,0.554,1960,868,AFC East

In [10]:
nfl_frame.columns

Index(['Rank', 'Team', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL Season',
       'Total Games', 'Division'],
      dtype='object')

In [11]:
nfl_frame['First NFL Season']

0    1960
1    1976
2    1921
3    1920
4    1966
5    1960
Name: First NFL Season, dtype: int64

In [12]:
nfl_frame.Team

0             Dallas Cowboys
1       Tampa Bay Buccaneers
2          Green Bay Packers
3              Chicago Bears
4             Miami Dolphins
5    New England Patriots[b]
Name: Team, dtype: object

In [13]:
nfl_frame[['Team', 'First NFL Season']]

                      Team  First NFL Season
0           Dallas Cowboys              1960
1     Tampa Bay Buccaneers              1976
2        Green Bay Packers              1921
3            Chicago Bears              1920
4           Miami Dolphins              1966
5  New England Patriots[b]              1960

In [14]:
DataFrame(nfl_frame, columns=['Team', 'First NFL Season'])

NameError: name 'DataFrame' is not defined

In [15]:
DataFrame

NameError: name 'DataFrame' is not defined

In [17]:
DataFrame(nfl_frame, columns=['Team', 'First NFL Season'])

                      Team  First NFL Season
0           Dallas Cowboys              1960
1     Tampa Bay Buccaneers              1976
2        Green Bay Packers              1921
3            Chicago Bears              1920
4           Miami Dolphins              1966
5  New England Patriots[b]              1960

In [18]:
DataFrame(nfl_frame, columns=['Team', 'First NFL Season', 'Stadium'])

                      Team  First NFL Season  Stadium
0           Dallas Cowboys              1960      NaN
1     Tampa Bay Buccaneers              1976      NaN
2        Green Bay Packers              1921      NaN
3            Chicago Bears              1920      NaN
4           Miami Dolphins              1966      NaN
5  New England Patriots[b]              1960      NaN

In [19]:
nfl_frame.head()

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,1,0.573,1960,860,NFC East
1,1,Tampa Bay Buccaneers,250,393,1,0.514,1976,866,NFC South
2,3,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
3,4,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
4,5,Miami Dolphins,439,341,4,0.563,1966,784,AFC East

In [20]:
nfl_frame.head(3)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,1,0.573,1960,860,NFC East
1,1,Tampa Bay Buccaneers,250,393,1,0.514,1976,866,NFC South
2,3,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North

In [22]:
nfl_frame.tail(3)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
3,4,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
4,5,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
5,6,New England Patriots[b],476,383,9,0.554,1960,868,AFC East

In [23]:
nfl_frame.ix[3]

Rank                            4
Team                Chicago Bears
Won                           744
Lost                          568
Tied                           42
Pct.                        0.565
First NFL Season             1920
Total Games                 1,354
Division                NFC North
Name: 3, dtype: object

In [24]:
nfl_frame['Stadium'] = "Levi's Stadium"

In [25]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,493,367,1,0.573,1960,860,NFC East,Levi's Stadium
1,1,Tampa Bay Buccaneers,250,393,1,0.514,1976,866,NFC South,Levi's Stadium
2,3,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North,Levi's Stadium
3,4,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North,Levi's Stadium
4,5,Miami Dolphins,439,341,4,0.563,1966,784,AFC East,Levi's Stadium
5,6,New England Patriots[b],476,383,9,0.554,1960,868,AFC East,Levi's Stadium

In [26]:
nfl_frame['Stadium'] = np.arange(6)

In [27]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,493,367,1,0.573,1960,860,NFC East,0
1,1,Tampa Bay Buccaneers,250,393,1,0.514,1976,866,NFC South,1
2,3,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North,2
3,4,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North,3
4,5,Miami Dolphins,439,341,4,0.563,1966,784,AFC East,4
5,6,New England Patriots[b],476,383,9,0.554,1960,868,AFC East,5

In [28]:
stadiums = Series(["Livi's stadium", 'AT&T'], index = [4,0])

In [29]:
stadiums

4    Livi's stadium
0              AT&T
dtype: object

In [30]:
nfl_frame['Stadium'] = stadiums

In [31]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,493,367,1,0.573,1960,860,NFC East,AT&T
1,1,Tampa Bay Buccaneers,250,393,1,0.514,1976,866,NFC South,NaN
2,3,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North,NaN
3,4,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North,NaN
4,5,Miami Dolphins,439,341,4,0.563,1966,784,AFC East,Livi's stadium
5,6,New England Patriots[b],476,383,9,0.554,1960,868,AFC East,NaN

In [32]:
del nfl_frame['Stadium']

In [33]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,1,0.573,1960,860,NFC East
1,1,Tampa Bay Buccaneers,250,393,1,0.514,1976,866,NFC South
2,3,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
3,4,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
4,5,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
5,6,New England Patriots[b],476,383,9,0.554,1960,868,AFC East

In [34]:
data = { 'City':['SF', 'LA', 'NYC'], 'Population':[837000,3880000,8400000]}

In [35]:
city_frame = DataFrame(data)

In [36]:
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000