In [1]:
from pandas import DataFrame

In [2]:
dframe = DataFrame({'key1':['A'] * 2 + ['B'] * 3,
                   'key2': [2,2,2,3,3]})

In [3]:
dframe

  key1  key2
0    A     2
1    A     2
2    B     2
3    B     3
4    B     3

In [4]:
dframe.duplicated()

0    False
1     True
2    False
3    False
4     True
dtype: bool

In [6]:
dframe.drop_duplicates()

  key1  key2
0    A     2
2    B     2
3    B     3

In [7]:
dframe.drop_duplicates(['key1'])

  key1  key2
0    A     2
2    B     2

In [12]:
dframe

  key1  key2
0    A     2
1    A     2
2    B     2
3    B     3
4    B     3

In [16]:
# dframe.drop_duplicates(['key1'], take_last=True) # 古い
dframe.drop_duplicates(['key1'], keep='last')

  key1  key2
1    A     2
4    B     3